.body {
    display: grid;
    grid-gap: 10px;
    margin-left: 10px;
}
.post {
    border: 1px solid black;
    width: 90%;
    padding: 10px;
}
/* .like-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.like-count {
    margin-top: 0;
    margin-bottom: 0;
} */